 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/limbo-banner2.png");
  background-position: 50% 50%;
  min-height: 612px;
}

.u-section-1 .u-image-1 {
  width: 586px;
  height: 71px;
  margin: 223px auto 0 calc(((100% - 1140px) / 2) + 75px);
}

.u-section-1 .u-shape-1 {
  background-image: linear-gradient(rgba(212,49,49,0), #181a1b);
  height: 318px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -310px 519px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 505px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 67px;
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -112px;
  }

  .u-section-1 .u-text-1 {
    width: 642px;
    margin-top: -199px;
    margin-left: 419px;
    margin-right: 419px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 387px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-1 .u-text-1 {
    margin-left: 309px;
    margin-right: 309px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 284px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 65px;
    margin-top: -1px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-top: -30px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: -307px;
    margin-left: 219px;
    margin-right: 219px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 260px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 41px;
    margin-top: 178px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-top: -82px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -246px;
    margin-left: 119px;
    margin-right: 119px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 824px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 40px 279px 0 181px;
}

.u-section-2 .u-line-1 {
  width: 800px;
  transform-origin: left center 0px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 12px 290px 0 170px;
}

.u-section-2 .u-video-1 {
  height: 450px;
  width: 800px;
  margin: 36px auto 60px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
    margin-left: 81px;
    margin-right: 179px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 70px;
    margin-right: 190px;
    width: 680px;
  }

  .u-section-2 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 40px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 40px;
  }

  .u-section-2 .u-video-1 {
    height: 362px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    width: 540px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
  }
}