 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/banner.png");
  background-position: 50% 50%;
  min-height: 612px;
}

.u-section-1 .u-image-1 {
  width: 426px;
  height: 240px;
  margin: 108px auto 0 calc(((100% - 1140px) / 2) + 103px);
}

.u-section-1 .u-shape-1 {
  background-image: linear-gradient(rgba(212,49,49,0), #181a1b);
  height: 318px;
  margin-top: -54px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -255px 519px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 521px;
  }

  .u-section-1 .u-image-1 {
    width: 455px;
    height: 174px;
    margin-top: 136px;
    margin-left: 127px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -107px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: 704px;
    margin: -211px auto 136px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 445px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 90px;
    margin-left: calc(((100% - 720px) / 2) + -24px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -137px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: -174px 58px 60px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 431px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -105px);
  }

  .u-section-1 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 441px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 130px;
    margin-top: 55px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -61px;
  }

  .u-section-1 .u-text-1 {
    width: 349px;
    margin: -171px auto 20px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 937px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 65px 279px 0 181px;
}

.u-section-2 .u-line-1 {
  width: 800px;
  transform-origin: left center 0px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  width: 800px;
  margin: 12px auto 0;
}

.u-section-2 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 21px auto 60px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
    margin-left: 81px;
    margin-right: 179px;
  }

  .u-section-2 .u-text-2 {
    width: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 40px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1876px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 40px 279px 0 181px;
}

.u-section-3 .u-line-1 {
  width: 800px;
  transform-origin: left center 0px;
  margin: 12px auto 0;
}

.u-section-3 .u-text-2 {
  width: 800px;
  margin: 9px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-3 {
  margin: 0 0 0 170px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 336px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-gallery-1 {
  height: 275px;
  width: 339px;
  margin: 30px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto;
}

.u-section-3 .u-gallery-item-1 {
  --effect-scale: 1.25;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-4 {
  width: 800px;
  margin: 30px auto 0;
}

.u-section-3 .u-image-1 {
  width: 730px;
  height: 461px;
  margin: 31px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1825px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 179px;
    margin-left: 81px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 40px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-3 .u-gallery-1 {
    height: 305px;
    width: 317px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-3 .u-image-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1925px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-3 .u-gallery-1 {
    height: 273px;
    width: 240px;
    margin-top: 54px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 455px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2317px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 341px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1910px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 42px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 215px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2045px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 65px 279px 0 181px;
}

.u-section-4 .u-line-1 {
  width: 800px;
  transform-origin: left center 0px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-2 {
  width: 800px;
  margin: 12px auto 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 528px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  width: 800px;
  margin: 30px auto 0;
}

.u-section-4 .u-group-1 {
  width: 1060px;
  min-height: 596px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 500px;
  height: 595px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 500px;
  height: 595px;
  margin: -595px 0 0 auto;
}

.u-section-4 .u-text-4 {
  width: 800px;
  margin: 30px auto 0;
}

.u-section-4 .u-group-2 {
  width: 1060px;
  min-height: 215px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 64px;
  height: 128px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-5 {
  width: 64px;
  height: 128px;
  margin: -127px auto 0 107px;
}

.u-section-4 .u-image-6 {
  width: 64px;
  height: 128px;
  margin: -128px auto 0 218px;
}

.u-section-4 .u-image-7 {
  width: 128px;
  height: 128px;
  margin: -99px auto 0 312px;
}

.u-section-4 .u-image-8 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0 440px;
}

.u-section-4 .u-image-9 {
  width: 128px;
  height: 128px;
  margin: -135px 363px 0 auto;
}

.u-section-4 .u-image-10 {
  width: 128px;
  height: 128px;
  margin: -128px 235px 0 auto;
}

.u-section-4 .u-image-11 {
  width: 256px;
  height: 256px;
  margin: -192px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2163px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 179px;
    margin-left: 81px;
  }

  .u-section-4 .u-text-2 {
    width: 680px;
  }

  .u-section-4 .u-image-1 {
    height: 501px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-4 .u-image-2 {
    width: 460px;
    margin-right: 480px;
  }

  .u-section-4 .u-image-3 {
    width: 460px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-4 .u-group-2 {
    width: 940px;
    min-height: 370px;
    margin-bottom: 30px;
    height: auto;
  }

  .u-section-4 .u-image-4 {
    margin-left: 70px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 177px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 288px;
  }

  .u-section-4 .u-image-7 {
    margin-left: 382px;
  }

  .u-section-4 .u-image-8 {
    margin-left: 510px;
  }

  .u-section-4 .u-image-9 {
    margin-top: -128px;
    margin-right: 149px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -138px;
    margin-right: 1px;
  }

  .u-section-4 .u-image-11 {
    margin-top: -34px;
    margin-right: auto;
    margin-left: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2113px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 40px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-right: 260px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    margin-bottom: 0;
    min-height: 350px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-9 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 96px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -128px;
    margin-right: auto;
    margin-left: 496px;
  }

  .u-section-4 .u-image-11 {
    margin-top: -192px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3080px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 474px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1343px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 699px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 699px;
    margin-top: -31px;
    margin-bottom: -195px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 32px;
  }

  .u-section-4 .u-group-2 {
    margin-bottom: 32px;
    min-height: 353px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    margin-left: 107px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 218px;
  }

  .u-section-4 .u-image-7 {
    margin-left: 312px;
  }

  .u-section-4 .u-image-8 {
    margin-right: -17px;
    margin-left: auto;
  }

  .u-section-4 .u-image-9 {
    margin-top: 12px;
    margin-left: 47px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -138px;
    margin-right: 32px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2950px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 61px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 298px;
  }

  .u-section-4 .u-group-1 {
    min-height: 869px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 440px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 440px;
    margin-top: 0;
    margin-bottom: -127px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-top: 31px;
  }

  .u-section-4 .u-group-2 {
    margin-bottom: 0;
    min-height: 518px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    margin-left: auto;
  }

  .u-section-4 .u-image-6 {
    margin-top: -129px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-7 {
    margin-top: -4px;
    margin-left: 42px;
  }

  .u-section-4 .u-image-8 {
    margin-top: -130px;
    margin-left: 176px;
  }

  .u-section-4 .u-image-9 {
    margin-top: -18px;
    margin-left: 0;
  }

  .u-section-4 .u-image-10 {
    margin-top: -139px;
    margin-right: 0;
  }

  .u-section-4 .u-image-11 {
    margin-top: -87px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 596px;
}

.u-section-5 .u-text-1 {
  width: 800px;
  margin: 0 auto;
}

.u-section-5 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 30px auto 60px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 304px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1856px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 279px 0 181px;
}

.u-section-6 .u-line-1 {
  width: 800px;
  transform-origin: left center 0px;
  margin: 12px auto 0;
}

.u-section-6 .u-text-2 {
  width: 800px;
  margin: 12px auto 0;
}

.u-section-6 .u-image-1 {
  width: 448px;
  height: 576px;
  margin: 30px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 800px;
  margin: 40px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 128px;
  height: 128px;
  margin: -4px auto 0 0;
}

.u-section-6 .u-image-3 {
  width: 128px;
  height: 128px;
  margin: -124px 3px 0 auto;
}

.u-section-6 .u-image-4 {
  width: 128px;
  height: 128px;
  margin: -128px auto -3px 128px;
}

.u-section-6 .u-layout-wrap-2 {
  width: 800px;
  margin: 20px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 424px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-image-5 {
  width: 128px;
  height: 128px;
  margin: -24px auto 0 1px;
}

.u-section-6 .u-image-6 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0;
}

.u-section-6 .u-image-7 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0 272px;
}

.u-section-6 .u-image-8 {
  width: 128px;
  height: 128px;
  margin: -38px auto 0 2px;
}

.u-section-6 .u-image-9 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0 133px;
}

.u-section-6 .u-image-10 {
  width: 128px;
  height: 128px;
  margin: -127px auto 0 270px;
}

.u-section-6 .u-image-11 {
  width: 128px;
  height: 128px;
  margin: -12px 0 0 auto;
}

.u-section-6 .u-image-12 {
  width: 170px;
  height: 170px;
  margin: -149px auto 0 113px;
}

.u-section-6 .u-image-13 {
  width: 128px;
  height: 128px;
  margin: -149px auto 0 3px;
}

.u-section-6 .u-image-14 {
  width: 128px;
  height: 128px;
  margin: -26px 135px 0 auto;
}

.u-section-6 .u-image-15 {
  width: 128px;
  height: 128px;
  margin: -117px auto 0 2px;
}

.u-section-6 .u-image-16 {
  width: 128px;
  height: 128px;
  margin: -128px -1px 0 auto;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 424px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-text-4 {
  margin: 72px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2107px;
  }

  .u-section-6 .u-text-1 {
    width: 680px;
    margin-left: 81px;
    margin-right: 179px;
  }

  .u-section-6 .u-text-2 {
    width: 680px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 52px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -3px;
    margin-left: 70px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -125px;
    margin-right: 61px;
  }

  .u-section-6 .u-image-4 {
    margin-top: -3px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2022px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 40px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: -127px;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: -78px;
  }

  .u-section-6 .u-layout-wrap-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 382px;
  }

  .u-section-6 .u-image-7 {
    margin-left: 232px;
  }

  .u-section-6 .u-image-10 {
    margin-left: 232px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2519px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -125px;
  }

  .u-section-6 .u-image-4 {
    margin-top: -128px;
    margin-bottom: -3px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 4px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 0;
  }

  .u-section-6 .u-image-6 {
    margin-left: 140px;
  }

  .u-section-6 .u-image-7 {
    margin-right: 135px;
    margin-left: auto;
  }

  .u-section-6 .u-image-8 {
    margin-top: -128px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-9 {
    margin-top: -11px;
    margin-left: 0;
  }

  .u-section-6 .u-image-10 {
    margin-top: -128px;
    margin-left: 140px;
  }

  .u-section-6 .u-image-11 {
    margin-top: -128px;
    margin-right: auto;
    margin-left: 413px;
  }

  .u-section-6 .u-image-12 {
    margin-top: -32px;
    margin-left: -19px;
  }

  .u-section-6 .u-image-13 {
    margin-top: -266px;
    margin-left: 277px;
  }

  .u-section-6 .u-image-14 {
    margin-top: -11px;
    margin-right: 0;
  }

  .u-section-6 .u-image-15 {
    margin-top: -128px;
    margin-left: 140px;
  }

  .u-section-6 .u-image-16 {
    margin-right: 135px;
    margin-bottom: 21px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 221px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3135px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 437px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 155px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 424px;
  }

  .u-section-6 .u-image-9 {
    margin-left: auto;
  }

  .u-section-6 .u-image-11 {
    margin-left: 212px;
  }

  .u-section-6 .u-image-12 {
    margin-left: auto;
  }

  .u-section-6 .u-image-13 {
    margin-left: 212px;
  }

  .u-section-6 .u-image-14 {
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 350px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 977px;
}

.u-section-7 .u-text-1 {
  width: 800px;
  margin: 0 auto;
}

.u-section-7 .u-group-1 {
  width: 900px;
  min-height: 357px;
  height: auto;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 256px;
  height: 256px;
  margin: -192px auto 0 30px;
}

.u-section-7 .u-image-3 {
  width: 128px;
  height: 128px;
  margin: -28px auto 0 65px;
}

.u-section-7 .u-image-4 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0 323px;
}

.u-section-7 .u-image-5 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0 579px;
}

.u-section-7 .u-image-6 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0 708px;
}

.u-section-7 .u-image-7 {
  width: 256px;
  height: 256px;
  margin: -356px auto 0 140px;
}

.u-section-7 .u-image-8 {
  width: 256px;
  height: 256px;
  margin: -256px auto 0 308px;
}

.u-section-7 .u-image-9 {
  width: 256px;
  height: 256px;
  margin: -256px 196px 0 auto;
}

.u-section-7 .u-image-10 {
  width: 256px;
  height: 256px;
  margin: -256px 4px 0 auto;
}

.u-section-7 .u-image-11 {
  width: 128px;
  height: 128px;
  margin: -28px auto 0 194px;
}

.u-section-7 .u-image-12 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0 451px;
}

.u-section-7 .u-text-2 {
  width: 800px;
  margin: 30px auto 0;
}

.u-section-7 .u-group-2 {
  width: 1010px;
  min-height: 200px;
  height: auto;
  margin: 30px auto 60px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-13 {
  width: 192px;
  height: 192px;
  margin: 8px auto 0 -36px;
}

.u-section-7 .u-image-14 {
  width: 192px;
  height: 192px;
  margin: -192px auto 0 91px;
}

.u-section-7 .u-image-15 {
  width: 192px;
  height: 192px;
  margin: -192px auto 0 353px;
}

.u-section-7 .u-image-16 {
  width: 192px;
  height: 192px;
  margin: -192px auto 0 221px;
}

.u-section-7 .u-image-17 {
  width: 192px;
  height: 192px;
  margin: -192px auto 0 483px;
}

.u-section-7 .u-image-18 {
  width: 192px;
  height: 192px;
  margin: -192px auto 0 610px;
}

.u-section-7 .u-image-19 {
  width: 192px;
  height: 192px;
  margin: -200px auto 0 735px;
}

.u-section-7 .u-image-20 {
  width: 192px;
  height: 192px;
  margin: -192px auto 0 854px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-13 {
    margin-left: -18px;
  }

  .u-section-7 .u-image-14 {
    margin-left: 109px;
  }

  .u-section-7 .u-image-15 {
    margin-left: 371px;
  }

  .u-section-7 .u-image-16 {
    margin-left: 239px;
  }

  .u-section-7 .u-image-17 {
    margin-left: 501px;
  }

  .u-section-7 .u-image-18 {
    margin-left: 628px;
  }

  .u-section-7 .u-image-19 {
    margin-left: 753px;
  }

  .u-section-7 .u-image-20 {
    margin-left: 766px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-group-1 {
    min-height: 550px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 143px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 136px;
    margin-left: -25px;
  }

  .u-section-7 .u-image-4 {
    margin-left: 233px;
  }

  .u-section-7 .u-image-5 {
    margin-left: 489px;
  }

  .u-section-7 .u-image-6 {
    margin-left: 617px;
  }

  .u-section-7 .u-image-7 {
    margin-top: -520px;
    margin-right: 146px;
    margin-left: auto;
  }

  .u-section-7 .u-image-8 {
    margin-right: -41px;
    margin-left: auto;
  }

  .u-section-7 .u-image-9 {
    margin-top: -133px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-7 .u-image-10 {
    margin-right: 80px;
  }

  .u-section-7 .u-image-11 {
    margin-top: 13px;
    margin-left: 104px;
  }

  .u-section-7 .u-image-12 {
    margin-left: 361px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-2 {
    min-height: 337px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-18 {
    margin-top: -47px;
    margin-left: 109px;
  }

  .u-section-7 .u-image-19 {
    margin-top: -192px;
    margin-left: 239px;
  }

  .u-section-7 .u-image-20 {
    margin-right: 157px;
    margin-bottom: -8px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-group-1 {
    min-height: 542px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    margin-left: 55px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 79px;
    margin-left: 0;
  }

  .u-section-7 .u-image-4 {
    margin-right: 153px;
    margin-left: auto;
  }

  .u-section-7 .u-image-5 {
    margin-top: 0;
    margin-left: 128px;
  }

  .u-section-7 .u-image-6 {
    margin-right: 122px;
    margin-left: auto;
  }

  .u-section-7 .u-image-7 {
    margin-top: -591px;
    margin-right: -31px;
  }

  .u-section-7 .u-image-8 {
    margin-right: 90px;
  }

  .u-section-7 .u-image-9 {
    margin-top: -135px;
    margin-left: -19px;
  }

  .u-section-7 .u-image-10 {
    margin-right: 58px;
  }

  .u-section-7 .u-image-11 {
    margin-top: -42px;
    margin-left: 128px;
  }

  .u-section-7 .u-image-12 {
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-7 .u-group-2 {
    min-height: 465px;
    margin-top: 0;
    margin-bottom: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .u-section-7 .u-image-13 {
    margin-top: 0;
    margin-left: 111px;
  }

  .u-section-7 .u-image-14 {
    margin-left: 238px;
  }

  .u-section-7 .u-image-15 {
    margin-top: -80px;
    margin-left: 46px;
  }

  .u-section-7 .u-image-16 {
    margin-left: auto;
  }

  .u-section-7 .u-image-17 {
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-7 .u-image-18 {
    margin-top: -46px;
    margin-left: auto;
  }

  .u-section-7 .u-image-19 {
    margin-left: 46px;
  }

  .u-section-7 .u-image-20 {
    margin-right: 46px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1811px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-group-1 {
    min-height: 639px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 4px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -189px;
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: 183px;
    margin-left: 1px;
  }

  .u-section-7 .u-image-4 {
    margin-right: 1px;
  }

  .u-section-7 .u-image-5 {
    margin-left: auto;
  }

  .u-section-7 .u-image-6 {
    margin-right: 0;
  }

  .u-section-7 .u-image-7 {
    margin-top: -587px;
    margin-right: auto;
    margin-left: -64px;
  }

  .u-section-7 .u-image-8 {
    margin-top: -366px;
    margin-right: -71px;
  }

  .u-section-7 .u-image-9 {
    margin-top: -146px;
    margin-right: -13px;
    margin-left: auto;
  }

  .u-section-7 .u-image-10 {
    margin-top: -136px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-7 .u-image-11 {
    margin-top: -44px;
    margin-left: auto;
  }

  .u-section-7 .u-image-12 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: 0;
  }

  .u-section-7 .u-group-2 {
    min-height: 412px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-13 {
    margin-top: -23px;
    margin-left: -8px;
  }

  .u-section-7 .u-image-14 {
    margin-right: -26px;
    margin-left: auto;
  }

  .u-section-7 .u-image-15 {
    margin-top: -82px;
    margin-left: -8px;
  }

  .u-section-7 .u-image-16 {
    margin-right: 60px;
  }

  .u-section-7 .u-image-17 {
    margin-right: -26px;
  }

  .u-section-7 .u-image-18 {
    margin-top: -59px;
    margin-right: 60px;
  }

  .u-section-7 .u-image-19 {
    margin-left: -8px;
  }

  .u-section-7 .u-image-20 {
    margin-right: -26px;
  }
}